body {
  padding: 0;
  margin: 0;
}

#map {
  height: 500px;
  width: 100%;
  align-content: center;
  border-style: solid;
}

#mapcontainer {
    align-content: center;
    
}

.legend {
  background-color: 'white';
}
